alabaster==0.7.12
html2image==2.0.1
ansi2html==1.6.0
appdirs==1.4.4
asciimatics==1.13.0
astroid==2.5.6
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
black==21.5b2
bleach==3.3.0
brotlipy==0.7.0
build==0.4.0
certifi==2021.5.30
cffi==1.14.5
cfgv==3.3.0
chardet==4.0.0
cheroot==8.5.2
CherryPy==18.6.0
click==8.0.1
cmarkgfm==0.5.3
colorama==0.4.4
Colr==0.9.1
coverage==5.5
cryptography==3.4.7
decorator==5.0.9
distlib==0.3.2
docopt==0.6.2
docutils==0.17.1
editdistance-s==1.0.0
filelock==3.0.12
flake8==3.9.2
future==0.18.2
identify==2.2.10
idna==2.10
imagesize==1.2.0
importlib-metadata==4.5.0
iniconfig==1.1.1
ipython
ipython-genutils
isort==5.8.0
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
jedi==0.18.0
jeepney==0.6.0
Jinja2==3.0.1
keyring==23.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mccabe==0.6.1
more-itertools==8.8.0
mypy-extensions==0.4.3
nodeenv==1.6.0
olefile==0.46
packaging==20.9
parso==0.8.2
pathspec==0.8.1
pep517==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pip==21.1.2
pkginfo==1.7.0
pluggy==0.13.1
portend==2.7.1
pre-commit==2.13.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyfiglet==0.8.post1
pyflakes==2.3.1
Pygments==2.9.0
pylint==2.8.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySimpleGUI==4.44.0
PySocks==1.7.1
pytest==6.2.4
pytest-cov==2.12.1
python-xlib==0.28
pytz==2021.1
PyYAML==5.4.1
readme-renderer==27.0
regex==2021.4.4
repoze.lru==0.7
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
Routes==2.5.1
SecretStorage==3.3.1
setuptools
setuptools-lint
simplejson==3.17.2
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tempora==4.0.2
toml==0.10.2
tqdm==4.61.1
traitlets
twine==3.4.1
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.5
virtualenv==20.4.7
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.36.2
wrapt==1.11.2
zc.lockfile==2.0
zipp==3.4.1
rgbw_colorspace_converter==0.0.8
