<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Show Control</title>
</head>
<body>

<h1>Show Control</h1>

<p>Status: {{status}}</p>

<h3>Change To a New Show Now</h3>
<ul>
{% for show in shows %}
  <li><form action="run_show" method="post">
    <button name="show_name" value="{{show}}">{{show}}</button>
  </form></li>
{% endfor %}
</ul>

<br/>


<br/>

<h3>Change Show Cycle Time (seconds)</h3>
<form action="change_run_time" method="post">
  Seconds: <input id=run_time type=number name=run_time value=60>
  <input type=submit>
</form>

<h3>Change Show Overall Brightness</h3>
<form action="change_brightness" method="post">
  Seconds: <input id=brightness_scale type=string name=brightness_scale value=1.0>
  <input type=submit>
</form>



<h3>Reset To Test Pattern Show That Respects Timing // Interrupt Long Running Shows // Reset Setver</h3>
<form action="restart_server" method="post">
push the button....  <input id=restart_server type=submit>
</form>

</body>
</html>
